<nav>
    <div class="site-title">
      <a href="/"><h1>Blog Abouraya</h1></a>
      <p>Abyu Web Site</p>
    </div>
    <ul>
      <li><a href="/">Blogs</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/create">New Blog</a></li>
      <li><a href="/current_temp">Check Today's Temperature</a></li>
    </ul>
  </nav>